/* goods-------- start*/
:root{--code-bg:#fefefe}
.dark{--code-bg:#3b3d42}
#goods{display:grid;grid-gap:2rem;grid-template-columns:repeat(auto-fill,minmax(200px,1fr));}
.goods-bankuai{height:326px;list-style:none;border-radius:8px;background:var(--code-bg);padding:0 16px;overflow:hidden;border:1px solid var(--light-background-secondary);box-shadow:0 4px 6px rgba(0,0,0,.04)}
.dark .goods-bankuai{border:1px solid var(--dark-background-secondary);}
.goods-duiqi{min-height:164px;display:flex;justify-content:center;align-items:center}
.goods-duiqi img{width:80%;margin:0;transition:transform .2s ease-in-out;cursor:pointer}
.goods-duiqi:hover img{transform:translateY(-4px)}
.goods-title{font-size:14px;margin:0;transition:.5s}
.goods-title a{font-size:14px;text-decoration:none}
.goods-jiage{color:#999;font-size:14px;line-height:1.4rem}
.goods-note{color:#999;font-size:14px;line-height:1.3rem}

@media (max-width:700px){
.goods-title{font-size:14px;margin:0 10px!important;transition:.5s}
.goods-jiage{margin:0 10px 0 10px}
.goods-duiqi img{width:50%;margin:0}
.goods-note{line-height:1.3rem;margin:8px 10px 0 10px}
.goods-title{font-size:14px;margin:0 auto;line-height:1.5rem}
.goods-title a{font-size:14px;text-decoration:none;box-shadow:none}
}
@media screen and (min-width:700px) and (max-width:900px){
.goods-quanju{font-size:0;width:106%}
.goods-title{font-size:14px;margin:0 auto;line-height:1.5rem;transition:.5s}
.goods-title a{font-size:14px;text-decoration:none;box-shadow:none}
}
@media (min-width:900px){
.goods-quanju{font-size:0;width:106%}
.goods-note{font-size:14px;line-height:1.3rem;margin-top:.5rem}
.goods-duiqi img{width:80%;margin:0}
.goods-bankuai.img-hide img{transition:transform .2s ease-in-out;cursor:pointer}
.goods-bankuai.img-hide:hover img{transform:translateY(-4px)}
.goods-title{font-size:16px;margin:0 auto;line-height:1.6rem;transition:.5s}
.goods-title a{font-size:16px;text-decoration:none;box-shadow:none;transition:.5s}
}
/* goods -------- end */