<link rel='stylesheet' href='https://unpkg.com/@waline/client@v3/dist/waline.css' />
<!-- Meta 图标 (可选) -->
<link rel='stylesheet' href='https://unpkg.com/@waline/client@v3/dist/waline-meta.css' />
<div id='waline' class='waline'></div>
<style>
  [data-waline] img {
    margin: 0;
  }
</style>

<script type='module' is:inline>
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
  init({
    el: '#waline',
    {/* 后端服务 */}
    serverURL: 'custom domain',
    {/* 主题 */}
    dark: 'html.dark',
    {/* 语言 */}
    lang: 'zh-CN',
    // 浏览量
    pageview: true,
    // 评论数
    comment: true,
    reaction: true,
    copyright: false
  });
</script>